[submodule "Angular"]
	path = Angular
	url = https://github.com/ab4911/Angular.git
[submodule "DotNet"]
	path = DotNet
	url = https://github.com/ab4911/DotNet.git
[submodule "MachineLearning"]
	path = MachineLearning
	url = https://github.com/ab4911/MachineLearning.git
